<div id="container">
  <h1>Cadmus NDP</h1>
  <div id="banner">
    <img src="./img/ndp-300.png" alt="Cadmus" />
    <div id="content">
      <p>
        Welcome to the Cadmus Naples Dante Project editor. Users should have
        downloaded, signed and sent the
        <a href="policy.pdf" target="_blank" rel="noopener">policy</a> to their
        reference contact before accessing the editor.
      </p>
      @if (!logged()) {
        <p>Please <a routerLink="/login">login</a> to start.</p>
      }
    </div>
  </div>
</div>
